.l-wrap {
	max-width: $max-width;
	margin-left: auto;
	margin-right: auto;
}

.l-wrap--wide {
	max-width: $max-width-wide;
	margin-left: auto;
	margin-right: auto;
}

.l-grid {
	clear: both;
}


@include MQ(M) {

	.span {
		display: block;
		float: left;
	}

	.span-12-12 {
		width: 100%;
	}

	.span-11-12 {
	  	width: 91.66%;
	}
	.span-10-12 {
	  	width: 83.33%;
	}

	.span-9-12 {
	  	width: 75%;
	}

	.span-8-12 {
	  	width: 66.66%;
	}

	.span-7-12 {
	  	width: 58.33%;
	}

	.span-6-12 {
	  	width: 50%;
	}

	.span-5-12 {
	  	width: 41.66%;
	}

	.span-4-12 {
	  	width: 33.33%;
	}

	.span-3-12 {
	  	width: 25%;
	}

	.span-2-12 {
	  	width: 16.66%;
	}

	.span-1-12 {
	  	width: 8.333%;
	}

}
