<footer class="footer" role="contentinfo">
  <div class="wrapper">
    <div class="grid grid--medium">

      <div class="column">
        <h2 class="footer__title">Contact</h2>
        <ul class="contact">
          <li>{% include "../_svg/mail.html" %} <a href="mailto:ilja@infomatics.io" target="_blank">ilja@infomatics.io</a></li>
          <li>{% include "../_svg/phone.html" %} <a href="tel:+4402032901260" target="_blank">+44 020 3290 1260</a></li>
          <li>{% include "../_svg/skype.html" %} <a href="skype:iljapanic?chat" target="_blank">iljapanic</a></li>
        </ul>
      </div>

      <div class="column">
        <h2 class="footer__title">Social</h2>
        <ul class="social">
          <li><a href="https://twitter.com/iljapanic" target="_blank">{% include "../_svg/twitter.html" %}<span class="visually-hidden">Twitter</span></a></li>
          <li><a href="https://linkedin.com/in/iljapanic" target="_blank">{% include "../_svg/linkedin.html" %}<span class="visually-hidden">LinkedIn</span></a></li>
          <li><a href="https://facebook.com/iljapanic" target="_blank">{% include "../_svg/facebook.html" %}<span class="visually-hidden">Facebook</span></a></li>
        </ul>
        <h2 class="footer__title">Blog</h2>
        <span><a href="http://informationbomb.net" target="_blank">informationbomb.net</a></span>
      </div>
    </div>
    <p class="colophon">&copy; 2016 Infomatics</p>
  </div>
</footer>
